*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
  font-size: 14px;
}
body {
	background: #000;
}
.w-100 {
	width: 100%;
}
.d-block {
	display: block;
}
.d-flex {
  display: flex;
}
.player-rank {
  background: #000;
}
.player-item {
  width: 33.33%;
  padding: 15px;
}
.player-profile {
  text-align: center;
}
.player-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.player-profile span {
  font-size: 14px;
  text-transform: capitalize;
}
.player-profile strong {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  margin: 5px 0;
}
.player-profile p {
  font-size: 12px;
}
.playerrank-list ol {
  padding: 0;
  display: block;
}
.playerrank-list ol li, .playerrank-list ol li p, .playerrank-list ol li strong {
	color: #edb72e;
}
.playerrank-list ol li img, .userchat-msg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.userchat-msg img {
	width: 30px;
	height: 30px;
}
.playerrank-list ol li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.playerrank-list ol {
	margin-top: 25px;
}
.playerrank-list ol li p {
	font-size: 12px;
	width: 100%;
	display: block;
}
.playerrank-list ol li strong {
  display: block;
  text-align: right;
}
.text-center {
	text-align: center;
}
.userchat {
  /*padding-left: 15px;*/
  position: relative;
  height: 100%;
}
.userchat {
display: flex;
width: 100%;
flex-wrap: wrap;
align-items: end;
flex-direction: row;
flex-flow: column-reverse;
}
.userchat-msg {
  width: 100%;
  display: block;
}
.userchat-msg {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.chat-block {
	background: linear-gradient(#393939, #313131);
}
.userchat-msg p {
  background: transparent;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 25px;
  font-size: 12px;
}
.userchat-msg p.justNowMsg{
	background: linear-gradient(to bottom, #614798, #4380b2);
	font-size: 14px;
}
.msg-send {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px 10px;
  display: flex;
align-items: center;
gap: 1%;
}
.msgtextbox {
  width: 80%;
}
.msgtextbox input {
  width: 100%;
  background: transparent;
  border: 2px solid #fff;
  padding: 8px 10px;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
}
.sendBtn {
  width: 19%;
  text-align: right;
}
.btnSend {
  background: transparent;
  border: 0;
  padding: 0;
}
.userchat {
  padding-bottom: 60px;
}
input {
	outline: none;
}
.msgtextbox input:focus {
	background: #000;
}
.header-row, .gameView {
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameView {
  align-items: inherit;
}
.userPro {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.userFollow {
  display: flex;
  align-items: center;
}
.userName {
  font-size: 14px;
  text-transform: capitalize;
}
.followBtn {
  text-decoration: none;
  background: #0d70ff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1px 12px;
  border-radius: 25px;
}
.followersDes {
  font-size: 14px;
  margin-top: 4px;
}
.navBarBtn {
  background: #fff;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px;
  cursor: pointer;
}
.navBarBtn span {
  height: 2px;
  background: #000;
  display: block;
  margin-bottom: 4px;
  width: 100%;
}
.gameView strong {
  color: yellow;
}
.allviewerimg img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: -8px;
}
.viewCount {
  display: flex;
  align-items: center;
}


@media (min-width: 768px) {
  .gameView {
    padding-top: 0;
    padding-bottom: 0;
    width: 70%;
  }
}



@media (max-width: 767px) {
	.playerRank-block {
		display: none;
	}
	.player-rank {
		flex-wrap: wrap;
	}
	.player-item {
		width: 100%;
	}
	.player-rank {
		background: transparent;
		/*position: relative;*/
	}
	.player-item.chat-block {
  position: absolute;
  bottom: 0;
}
.player-item.chat-block {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, transparent, #1c1c1c);
  height: 100vh;
}
.game-block {
	position: relative;
	z-index: 1;
}
.player-rank {
  padding-bottom: 80px;
}
.input-desc {
	z-index: 11;
}
.gameVideo {
  width: 100%;
  position: fixed;
  height: 100vh;
  display: block !important;
  top: 0;
  left: 0;
  background: #000;
} 
.gameheader.w-100 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.gameView {
  padding-top: 0;
}
body {
  padding-top: 140px;
  position: relative;
}
.navBarBtn {
  order: 2;
}
.gameView {
  order: 3;
}
.userFollow {
  order: 1;
}
.header-row {
  flex-wrap: wrap;
}
.gameView {
  order: 3;
  padding-left: 0;padding-right: 0;
  width: 100%;
}
}